// @tailwind base;
// @tailwind components;
// @tailwind utilities;
// 

/*======================================
========== Global Style Start ==========
=======================================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500;700;900&display=swap');

$black:#000;
$white:#fff;
$primary: #FA8C16;
// custom css
body {
    font-family: 'Roboto Mono', monospace;
    @apply text-[#B7B7B7] leading-[1.7] font-normal;
    overflow-y: scroll;
}
h2, h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    z-index: 99;
    position: relative;
}
h1{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 52px;
    line-height: 120%;
}
h3{
    font-size: 48px;
}
h4{
    font-size: 28px;
    line-height: 120%;
}

.featureupon h4, .single__service_box h4, .brand_area h2, .service__area h2, .single__ipfs__item h4, .sp__box h4, .products__area .section__title h2, .content__form__area h3, .product__tab h2, .product__tab li h4, .ixeo__tab__content h3, .ixeo__tab__content a, .featured__area h4, .hero_area button{
    font-family: 'Roboto', sans-serif;
}
@media(max-width:768px){
    h2{
        font-size: 25px;
    }
}
/*=====================================
========== Global Style End ===========
=======================================*/


// color variables
.heading {
    & select {
        box-shadow: 0 0 0 !important;
        border: 1px solid rgba($color: $white, $alpha: .05);
        background-color: rgba($color: $white, $alpha: .10);
        backdrop-filter: blur(5px);
        text-transform: uppercase;
        &:focus {
            border-color: rgba($color: $primary, $alpha: .30) !important;
        }
        & option {
            background-color: #1a1a1a;
            &:checked,
            &:hover {
                background-color: $primary !important;
            }
        }
    }
    .select .i-heroicons-chevron-down-20-solid{
        color: #fff;
    }
}

@media(max-width:992px){
    .main-menu{
        position: absolute;
        top: 76px;
        right: 0;
        width: 100%;
        background-color: #000; /* Set your desired background color */
        backdrop-filter: blur(10px);
        z-index: 9999;
        transition: transform 0.5s ease-in-out;
        transform: translateX(0%);
        & ul {
            display: block;
        }
        & > ul > li > a {
            padding: 18px;
            text-align: left;
            border-bottom: 1px solid #ffffff1a;
            padding-left: 0;
        }
    }
      
      .main-menu ul {
        padding: 20px;
      }
      
      .main-menu.hide {
        transform: translateX(-100%);
      }
}

/*======================================
========== Hero Area ============
=======================================*/

.hero_area{
    h1{
        line-height: 1.6em;
    }
    button{
        color:#fff !important;
    }
    .btn_one, .btn_three{
        background: #FA8C16 !important; 
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        padding: 28px;
    }
    .btn_two{
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.28);
        background: #131313;
        backdrop-filter: blur(35px);
        font-weight: 500;
        line-height: 120%;
        font-size: 20px;
        padding: 28px;
        &:hover{
            background: #FA8C16 !important; 
            border: 1px solid #FA8C16 !important;
        }
    }
    p{
        color: rgba(255, 165, 0, 0.90) !important;
    }
}
/*======================================
========== Decentralization ============
=======================================*/
.featured__area{
    height: 100vh;
    
    .section__title{
        h2{
            margin-bottom: 32px;
        }
        p{
            max-width: 992px;
            margin: 0 auto;
        }
    }
}
.decentralization_icon_box:before, .single__service_box::before, .sp__box::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/img/decentralization_signle_box_shap.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: -1;
}

.f_U_number{
    opacity: 0.8;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 141.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.single__item{
    cursor: pointer;
}
.single__item:before {
    position: absolute;
    content: "";
    left: -140px;
    top: 40px;
    width: 136px;
    height: 12px;
    margin-top: 0px;
    background-image: url('/public/img/featuredupon_line.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    z-index: -1;
}
figure.upor_tab_left_img {
    max-width: 847px;
}
figure.upor_tab_left_img img {
    max-width: 120%;
    margin-top: -185px;
    margin-left: -153px 
}
@media(max-width:992px){
    .single__item:before {
        left: -30px;
        top: 50px;
        width: 80px;
    }  
    .single__item figure img {
       max-width: 350px;
       margin: 0 auto;
       margin-top: -40px;
       width: 100%;
    }  
    .nav-item .single__item figure {
        width: 0;
        transition: all .3s ease-in-out
    }
    .nav-item.active .single__item figure {
        width: auto;
        transition: all .3s ease-in-out
    }
}
@media(max-width:576px){
    .single__item:before {
        left: -0px;
        width: 40px;
    }  
}

.nav-item.active .single__item:before {
    background-image: url('/public/img/featuredupon_activeline.svg');
}


.nav-item .single__item h4 {
    line-height: 1.5;
}
.nav-item.active .single__item h4 {
    color: orange;
}



/*=====================================
========== Ixeo Area =================
=======================================*/
.ixeo__area{
    & .ixeo__list_wrapper{
        margin-bottom: -10px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        z-index: 1;
        & li{
            color: rgba(255, 255, 255, 0.60);
            width: 25%;
            text-align: center;
            cursor: pointer;
            padding: 28px;
            font-weight: 400;
            line-height: 170%;
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            position: relative;
            z-index: 1;
            &::before{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: linear-gradient(176deg, #FA8C16 10.2%, rgba(57, 49, 41, 0.00) 96.38%);
            }
            &:nth-child(1)::before{
                border-radius: 9px 0px 0px 9px;
            }
            &:last-child::before{
                border-radius: 0px 9px 9px 0px;
            }
            &.active{
                color: #FA8C16;
                font-weight: 500;
            }
            &.active:before{
                opacity: 0.1;
            }
        }
    }
    & .ixeo__tab__content{
        backdrop-filter: blur(7px);
        border: 1px solid rgba(255, 255, 255, 0.10);
        border-top: 0;
        margin-top: -10px;
        & .tab__content__in_list {
            & li:before{
                position: absolute;
                content: "";
                left: 0;
                top: 12px;
                width: 14px;
                height: 14px;
                background-color: #fff;
                border-radius: 50%;
            }
           & li:last-child{
                margin-bottom: 10px;
            }
        }
    }
    & .copycode_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 50px;
        border-radius: 5px 5px 0px 0px;
        background: #171718;
        position: relative;
        z-index: 1;
        p{
            text-transform: uppercase;
        }
        & button{
            display: flex;
            align-items: center;
            gap: 5px;
            text-transform: capitalize;
            transition: all .3s ease-in-out;
            &:hover{
                color: #FA8C16;
            }
            & svg{
                width: 25px;
            }
        }
        & .copy-status {
            position: absolute;
            top: -6px;
            left: 50%;
            margin-top: 10px;
            color: #32a852; /* Green color for success */
            z-index: 99;
            background: #000;
            transform: translateX(-50%);
            text-transform: capitalize;
            font-size: 14px;
            padding: 10px;
            border-radius: 5px;
          }
    }
}

.api_code_with_copy_code {
    max-width: 561px;
    margin-left: auto;
}

/*=====================================
========== Brand Area =================
=======================================*/
.brand_area h2, .service__area h2{
    max-width: 693px;
    margin:0 auto;
}

.brand_area .section__title{
    margin-bottom: 35px;  
}

.vue3-marquee.horizontal>.marquee{
    gap: 70px;
    margin-right: 70px;
    img{
        max-width: 200px;
        height: 45px;
        object-fit: contain;
    }
}

/*==================================
========== Service Area ============
====================================*/
.single__service_box{
    padding: 20px;
    & svg{
        max-width: 108px;
    }
    &::before{
        opacity: 0;
        transition: all .3s ease-in-out;
        height: 0;
        background-image: url('/public/img/service_shap.png');
        z-index: -1;
    }
    &:hover::before{
        opacity: 1;
        height: 100%;
    }
}

.single__service_box:hover{
    color: #FA8C16;
}

/*===============================
========== Ipfs Area ============
=================================*/
.ipfs__area{
    & .section__title{
        & p{
            color: rgba(255, 255, 255, 0.60);
            max-width: 1020px;
            margin: 0 auto;
        }
    }
}

/*==================================
========== Product Area ============
====================================*/
.products__area{
    & .section__title{
        margin-bottom: 60px;
        h2{
            line-height: 130%;
            font-size: 48px;
        }
    }

    & .sp__box{
        &::before{
            opacity: 0;
            transition: all .3s ease-in-out;
            background-image: url('/public/img/service_shap.png');
            z-index: -1;
        }
        &:hover::before{
            opacity: 1;
        }

        &:hover h4{
            color: orange;
        }

    }
}

/*===============================================
========== contact form wrapper Area ============
=================================================*/
.contact__form__wrapper{
    position: relative;
    z-index: 9;
    border: 1px solid rgb(217 217 217 / 10%);
    border-radius: 30px;

    & .content__form__area{
        & input{
            font-family: 'Lato', sans-serif;
            color: rgba(255, 255, 255, 0.80);
            padding: 14px;
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.20) !important;
            box-shadow: none;
            height: 56px;
        }
        & input::placeholder{
            color: rgba(255, 255, 255, 0.80);
        }
        & input:focus{
            outline: none;
            box-shadow: none;
            border:0
        }
        & select{
            padding:16px;
            height: 56px;
            cursor: pointer;
            font-family: 'Lato', sans-serif;
            color: rgba(255, 255, 255, 0.80);
            line-height: 150%;
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            box-shadow: none;
            & option{
                background-color: #000000;
                font-family: 'Lato', sans-serif;
                color: rgba(255, 255, 255, 0.80);
            }
        }
        & select::placeholder{
            color: rgba(255, 255, 255, 0.80);
        }
        & select:focus{
            box-shadow: none;
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.20);
        }
        
        & .contact__form__inner{
            max-width: 446px;
            & button{
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
        }
        
    }
}

/*=================================
========== Product Tab Area ============
===================================*/
.product__tab{
    & ul{
        position: relative;
        z-index: 1;
        &:before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 1.93px;
            height: 100%;
            border-radius: 10px;
            opacity: 0.1;
            background: #D9D9D9;
            z-index: -1;
        }
        & li{
            position: relative;
            z-index: 1;
            max-width: 482px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            & h4{
                font-weight: 400;
            }
            
        }
        & li.nav-item{
            padding:15px 30px 15px 25px;
        }
        & h4{
            opacity: 0.6;
        }
        & p{
            display: none;
        }
        & li.active{
            padding:25px;
            background: linear-gradient(109deg, rgba(250, 140, 22, 0.10) 18.39%, rgba(255, 255, 255, 0.00) 88.37%);
            transition: all .3s ease-in-out;
            &:before{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 2px;
                height: 100%;
                border-radius: 50px;
                background: #FA8C16;
                z-index: -1;
            }
            & h4{
                color: #FA8C16;
                margin-bottom: 12px;
                opacity: 1;
                font-weight: 600;
            }
            & p{
                display: block;
                color: rgba(255, 255, 255, 0.60);
            }
        }
    }
    
}

/*=================================
========== Footer Area ============
===================================*/
.footer_area{
    position: relative;
    z-index: 1;
    &:before{
        position: absolute;
        content: "";
        top: -30%;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 130%;
        background-image: url('/public/img/footer-bg.png');
        background-size: cover;
        background-position: bottom left;
        background-repeat: no-repeat;
        z-index: -1;
    }
    & .social__icons li a{
        background: linear-gradient(155deg, #1A1A1A 51.7%, #000 127.92%);
        stroke-width: 0.736px;
        stroke: #FFF;
        width: 44.182px;
        height: 44.182px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 22px;
        margin-bottom: 22px;
        transition: all .3s ease-in-out;
        &:hover{
            background: linear-gradient(155deg, #FA8C16 51.7%, #000 127.92%);
        }
    }
}

@media(max-width:768px){
    .ipfs__area .section__title{
        p{
            font-size: 14px;
        }
    }
    .featured__area .section__title h2{
        margin-bottom: 16px;
    }
    .vue3-marquee.horizontal>.marquee{
        gap: 40px;
        margin-right: 40px;
        img{
            max-width: 138px;
            height: 38px;
        }
    }
    .ixeo__area{
        & .ixeo__list_wrapper {
            & .nav-item{
                 font-size: 16px;
                 padding:15px 12px;
             }
         }
    }
    .single__service_box{
        padding: 25px;
        & svg{
            max-width: 60px;
        }
    }
    .products__area {
        .section__title{
            margin-bottom: 30px;
        }
    }
    .footer_area{
        &:before{
            top: auto;
            height: 100%;
        }
    }
    .hero_area {
        .btn_one,
        .btn_two,
        .btn_three {
            font-size: 16px;
            padding: 16px;
        }
    }
    .featured__area {
        height: auto;
        padding-top: 0;

        h4{
            br{
                display: none;
            }
        }
    }
}

@media(max-width:410px){

    .hero_area {
        .btn_one,
        .btn_two,
        .btn_three {
            font-size: 15px;
            padding: 16px;
        }
    }
}